<!doctype <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Rental Property Analysis</title>
  </head>

  <style>
        .bgimg {
          background-image: url("static/images/background2.png");
          min-height: 100%;
          background-position: center;
          background-size: cover;
        }
 </style>



<body>

        <nav class="navbar navbar-toggler-sm bg-light navbar-inverse">
                <div class="container">
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                        <span class="navbar-toggler-text text-secondary">Property Analysis:</span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainNav">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active text-secondary" href="linear">Linear Regression</a>
                            <a class="nav-item nav-link text-secondary" href="logistic">Logistic Regression</a>
                            <a class="nav-item nav-link text-secondary" href="tableau">Tableau Charts</a>
                            
                        </div>
                    </div>
                </div>
        
        </nav>
    <br>







       <!-- <section class="jumbotron text-center">-->
                <div class="container1" style="position: absolute; left: 50px; top: 155px;">
                        <h1 class="jumbotron-heading text-center">Rental Properties</h1>
                  <p class="lead text-muted text-center">"Machine learning through linear and logistic regressions used to predict real estate investments in high populated metropolitan areas."</p>
                </div>
    <br>
        <!--</section>-->


        <style>
            div.container1 { 
				        text-align: center;
                        }
        </style>
        <div class="container1" style="position: absolute; left: 50px;  top: 350px;">
		        <h2>The Team</h2>
  		        <p>A League of ExtraOrdinary Gentlemen</p>  
        
                <div class="row">
  		        <div class="col">
                <img src="static/images/Bryce.png" class="rounded-circle" alt="Cinque Terre" width="215" height="195">
                <img src="static/images/Rich.png" class="rounded-circle" alt="Cinque Terre" width="215" height="195">
                <img src="static/images/Jung.png" class="rounded-circle" alt="Cinque Terre" width="215" height="195">
                <img src="static/images/Marcus.png" class="rounded-circle" alt="Cinque Terre" width="215" height="195">
                <img src="static/images/IMG_5147.png" class="rounded-circle" alt="Cinque Terre" width="215" height="195">
        </div>
 
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>